@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #c5c6ca78;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #FED56B;
  border-radius: 9999px;
}

.headerWrapper {
  position: relative;
  background: radial-gradient(at left bottom, #fefcf8, #efe2b4);
  z-index: 1;
  overflow: hidden;
}

.headerWrapper::before {
  background: linear-gradient(180deg, #cbd431, rgb(234 255 17 / 46%));
  border-radius: 50%;
  bottom: -28px;
  content: "";
  filter: blur(100px);
  height: 200px;
  left: auto;
  position: absolute;
  width: 200px;
  will-change: transform;
  z-index: -1;
}